In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

df = pd.read_csv('IceCreamData.csv')
df

     Temperature     Revenue
0      24.566884  534.799028
1      26.005191  625.190122
2      27.790554  660.632289
3      20.595335  487.706960
4      11.503498  316.240194
..           ...         ...
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

[500 rows x 2 columns]

In [23]:
X = df['Temperature'].values
y = df['Revenue'].values

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.05)

regressor = DecisionTreeRegressor()
regressor.fit(X_train.reshape(-1,1), y_train.reshape(-1,1))

y_pred = regressor.predict(X_test.reshape(-1,1))
y_pred

array([898.805423 , 609.4174787, 571.4342569, 702.9940111, 506.4937476,
       381.0433769, 891.4136462, 535.7089203, 629.8937918, 335.8156867,
       675.807151 , 578.3604354, 809.6720534, 450.4732071, 965.4930396,
       651.1862423, 584.399945 , 477.2950539, 264.123914 , 483.3330784,
       297.4991195, 552.8193512, 402.4553204, 691.5165411, 405.9151588])

In [24]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

    Real Values  Predicted Values
0    905.477604        898.805423
1    646.266946        609.417479
2    587.221246        571.434257
3    643.090944        702.994011
4    555.245217        506.493748
5    379.564268        381.043377
6    916.648613        891.413646
7    507.900282        535.708920
8    649.561175        629.893792
9    344.688765        335.815687
10   773.924755        675.807151
11   537.113833        578.360435
12   807.541287        809.672053
13   406.516091        450.473207
14   921.508275        965.493040
15   631.318237        651.186242
16   523.124547        584.399945
17   449.112869        477.295054
18   237.763911        264.123914
19   506.222379        483.333078
20   335.770416        297.499120
21   543.599593        552.819351
22   396.935648        402.455320
23   731.598223        691.516541
24   405.250387        405.915159